.ms-btn-primary{
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}
.ms-btn-chevrons{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.ms-btn{
    text-decoration: none;
    color: white;
}
.ms-drop-button{
    border: none;
    background-color: white;
}
.ms-drop-a{
    text-decoration: none;
    color: black;
}
.ms-btn-offcanvas-plus{
    border: 1px solid rgb(28, 114, 232);
    border-radius: 3px;
}
.ms-faq-button{
    width: 100%;
    text-align: start;
    border: none;
    display: flex;
    justify-content: space-between;
}
