header i{
    font-size: 16px;
}
.ms-logo-big{
    max-width: 150px;
}
.ms-logo-small{
    max-width: 40px;
    min-width: 40px;
}
#button-addon1{
    border: none;
    background-color: lightgray;
}
