/* File importati */
@import url(typography.css);
@import url(variables.css);
@import url(debug.css);
@import url(header.css);
@import url(aside.css);
@import url(main.css);


/* RESET */
img{
    width: 100%;
}
/* MACROSTRUTTURA */

/* HEADER */
header{
    height: auto;
    background-color: gray;
    color: white;
    padding: 10px 10px;
}
.ms-page-container{
    height: calc(100vh - 50px);
    background-color: aquamarine;
    display: flex;
}
aside{
    width: auto;
    padding: 10px;
    background-color: blue;
    flex-shrink: 0;
}
main{
    background-color: aqua;
    flex-grow: 1;
    overflow-y: auto;
}