/* File importati */
@import url(typography.css);
@import url(variables.css);
@import url(debug.css);
@import url(header.css);
@import url(aside.css);
@import url(main.css);
@import url(components.css);
@import url(tables.css);

/* RESET */
img{
    width: 100%;
}
/* MACROSTRUTTURA */

/* HEADER */
header{
    height: auto;
    background-color: rgb(248, 249, 250);
    padding: 10px 10px;
}
.ms-page-container{
    height: calc(100vh - 50px);
    display: flex;
}
aside{
    width: auto;
    padding: 10px;
    flex-shrink: 0;
}
main{
    flex-grow: 1;
    overflow-y: auto;
}