body{
    font-family: 'Roboto', sans-serif;
}

.ms-color1{
    color: var(--ms-fifth-color);
}
.ms-bg-color5{
    background-color: var(--ms-six-color);
}
.ms-bg-color6{
    background-color: var(--ms-seven-color);
}
.ms-bg-color7{
    background-color: lightgray;
}
.ms-color8{
    color: var(--ms-first-color);
}
.ms-color9{
    color: var(--ms-fourth-color);
}
.ms-bg-color9{
    background-color: white;
}
.ms-font-big{
    font-size: 50px;
}